/* 52489C */
/* 4062BB */
/* 59C3C3 */
/* F45B69 */

body
{
  /* background-color: #EBEBEB; */
  background-color: #59C3C3;
  padding-left: 5%;
  margin-left: 10%;
  padding-right: 5%;
  margin-right: 10%;
  font-family: arial;
}

html
{
  background-color: #EBEBEB;
}

h1
{
  font-weight: bold;
  text-shadow: .5px .5px .5px white;

}
 .thought
{
  background-color: #F45B69;
  font-weight: bold;
  text-align: center;
  font-size: 4em;

  /* padding-left: 0%;
  margin-left: 0%;
  padding-right: 0%;
  margin-right: 0%; */
}

/* .thought1
{
  background-color: #59C3C3;
} */
.thought1:hover
{
  background-color: #4062BB;
}


.thought2
{

  /* background-color: #59C3C3; */
}

/*

.thought3
{
  background-color: #59C3C3;
}

.thought4
{
  background-color: #59C3C3;
}

.thought5
{
  background-color: #59C3C3;
}

.thought6
{
  background-color: #59C3C3;
}

.thought7
{
  background-color: #59C3C3;
}

.thought8
{
  background-color: #59C3C3;
}

.thought9
{
  background-color: #59C3C3;
}

.thought10
{
  background-color: #59C3C3;
}

.thought11
{
  background-color: #59C3C3;
}

.thought12
{
  background-color: #59C3C3;
}

.thought13
{
  background-color: #59C3C3;
} */
