body
{
  /* background-color: red; */
}

html
{

}

.thought1
{
  background-color: red;
}

.thought2
{
  background-color: blue;
}

.thought3
{
  background-color: purple;
}

.thought4
{
  background-color: yellow;
}

.thought5
{
  background-color: green;
}

.thought6
{
  background-color: teal;
}

.thought7
{
  background-color: white;
}
