/* 52489C */
/* 4062BB */
/* 59C3C3 */
/* F45B69 */

/* for animation help: https://css-tricks.com/lets-look-50-interesting-css-properties-values/ */
body
{
  /* background-color: #EBEBEB; */
  background-color: #59C3C3;
  padding-left: 5%;
  margin-left: 10%;
  padding-right: 5%;
  margin-right: 10%;
  margin-top: 0%;
  padding-top: 5%;
  margin-bottom: 0%;
  padding-bottom: 5%;

  font-family: arial;
}

html
{
  background-color: #EBEBEB;
}

h1
{
  font-weight: bold;
  text-shadow: .5px .5px .5px white;

}
 .thought
{
  background-color: #F45B69;
  font-weight: bold;
  text-align: center;
  font-size: 4em;
  animation: fadeOut 4s ease;

}
.thought1,.thought2,.thought3, .thought4,.thought5,.thought6,.thought7,.thought8,.thought9,.thought10,.thought11,.thought12,.thought12
{
  border-bottom: 2px solid black;

}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes animation {
  from {
    letter-spacing: 32px;
  }
  to {
    letter-spacing: 0;
  }
}


.thought1
{

}
.thought1:hover
{
  background-color: #4062BB;
}


.thought2
{
  animation: fadeOut 2s ease;
   /* animation-fill-mode: forwards; */
   animation-delay:10s;
}

.thought3
{
  /* animation: animation 15s ease infinite; */
  animation: animation 15s ease;


}

.thought4
{

}

.thought5
{

}

.thought6
{
}

.thought7
{
}

.thought8
{
}

.thought9
{
}

.thought10
{
}

.thought11
{
}

.thought12
{
}

.thought13
{
}
