/* 52489C */
/* 4062BB */
/* 59C3C3 */
/* F45B69 */

body
{
  background-color: #EBEBEB;
}

html
{
  background-color: #EBEBEB;
}

.thought1
{
  background-color: #59C3C3;

}
.thought1:hover
{
  background-color: #59C3C3;
}

.thought2
{
  background-color: #59C3C3;
}

.thought3
{
  background-color: #59C3C3;
}

.thought4
{
  background-color: #59C3C3;
}

.thought5
{
  background-color: #59C3C3;
}

.thought6
{
  background-color: #59C3C3;
}

.thought7
{
  background-color: #59C3C3;
}

.thought8
{
  background-color: #59C3C3;
}

.thought9
{
  background-color: #59C3C3;
}

.thought10
{
  background-color: #59C3C3;
}

.thought11
{
  background-color: #59C3C3;
}

.thought12
{
  background-color: #59C3C3;
}

.thought13
{
  background-color: #59C3C3;
}
