body
{
  /* background-color: red; */
}

html
{

}

.thought1
{
  background-color: red;

}
.thought1:hover
{
  background-color: yellow;
}

.thought2
{
  background-color: blue;
}

.thought3
{
  background-color: purple;
}

.thought4
{
  background-color: yellow;
}

.thought5
{
  background-color: green;
}

.thought6
{
  background-color: teal;
}

.thought7
{
  background-color: white;
}

.thought8
{
  background-color: white;
}

.thought9
{
  background-color: pink;
}

.thought10
{
  background-color: gray;
}

.thought11
{
  background-color: brown;
}

.thought12
{
  background-color: red;
}
